:root {
    --background-color: #000000;
    --text-color: #ffffff;
    --highlight-color: #f0c040;
    --font-family: 'Arial', sans-serif;
    --padding: 20px;
    --border-radius: 8px;
    --button-bg-color: #00a72a;
    --button-bg-hover-color: #008a25;
}

body {
    margin: 0;
    padding: var(--padding);
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

#cadastroAlunoForm {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#nomeAluno {
    padding: 10px;
    border: 2px solid var(--highlight-color);
    border-radius: var(--border-radius);
    margin-right: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

#nomeAluno:focus {
    border-color: var(--text-color);
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--button-bg-color);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-bg-hover-color);
}

#alunosLista {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aluno {
    background-color: #282828;
    color: var(--text-color);
    border-radius: var(--border-radius);
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.aluno-nome {
    font-weight: bold;
    font-size: 18px;
}

.saida {
    font-size: 14px;
    color: var(--highlight-color);
}

#cronometro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cronometro {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    #cadastroAlunoForm {
        flex-direction: column;
        align-items: center;
    }

    #nomeAluno {
        margin-bottom: 10px;
        width: 100%;
    }

    button {
        width: 100%;
    }

    .aluno {
        padding: 10px;
        gap: 5px;
    }

    .aluno-nome {
        font-size: 16px;
    }

    .cronometro {
        font-size: 22px;
    }

    .saida {
        font-size: 12px;
    }
}
