

/* Estilos Gerais */
body {
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    text-align: center; /* Centraliza todo o conteúdo por padrão */
    
}
/* Container Principal */
.container {
    width: 95%;
    margin: auto;
    padding: 20px 0;
    max-width: 1200px;
}



/* Cabeçalho */
header {
    background: #1f1f1f;
    color: #fff;
    height: 100vh; /* Para ocupar a altura total da viewport */
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #e7dcdc;
    letter-spacing: 1px;
    margin-top: -30px;
    background-image: url('../assets/turminha.jfif'); 
    background-repeat: no-repeat;
    background-size: cover; /* Faz a imagem cobrir todo o elemento */
}


/* Títulos */
h1, h2, h3 {
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 26px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-top: 40px;
}

h3 {
    font-size: 30px;
    margin-top: 20px;
}

/* Seção da Equipe */
.team-section {
    margin-top: 20px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px;
}

.team-member {
    text-align: center;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.team-member strong {
    display: block;
    margin-bottom: 8px;
    font-size: 29px;
    color: #fff;
}



.team-member p {
    font-size: 15px;
    color: #ffffff;
}

/* Seção Sobre Nós */
.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    font-size: 18px;
    line-height: 1.8;
    text-align: center; /* Centraliza os textos nesta seção */
}

.section-content p {
    margin-bottom: 20px;
    text-align: center; /* Alinhamento centralizado */
}

.section-content ul {
    list-style: none;
    padding-left: 0;
    text-align: center; /* Centraliza a lista */
}

.section-content ul li {
    margin-bottom: 15px;
    font-size: 18px;
    padding-left: 25px;
    position: relative;
    line-height: 1.5;
}

.section-content ul li::before {
    content: "✔";
    color: #b8b8b8;
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1.5;
}

/* Seções com borda e espaçamento */
section {
    padding: 20px;
    margin-bottom: 40px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Imagens Responsivas da Equipe */
.team-photo {
    width: 100%;
    height: auto;
    max-width: 150px; /* Limita o tamanho máximo da imagem */
    border-radius: 10%; /* Faz com que a imagem fique arredondada */
    margin: 10px 0px; /* Espaçamento entre a imagem e o texto */
}


.team-turminha {
    width: 250px;
    height: 250px;
    opacity: 0%;
    max-width: 550px; /* Limita o tamanho máximo da imagem */
    border-radius: 10%; /* Faz com que a imagem fique arredondada */
    margin: 10px 0px; /* Espaçamento entre a imagem e o texto */
    
}


/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    .team-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .section-content, p {
        font-size: 16px;
    }

    .team-photo {
        max-width: 120px; /* Ajusta o tamanho máximo para telas menores */
        margin: 10px 80px;
    }

    .team-member strong {
        font-size: 20px;
    }

    .team-member span {
        font-size: 16px;
    }

    
}


