/* Estilos Gerais */
body {
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

/* Container Principal */
.container {
  
    width: 95%;
    margin: auto;
    padding: 20px 0;
    max-width: 1200px;
}

/* Cabeçalho */
header {
    background: #1f1f1f;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 48px;
    border-bottom: 2px solid #e7dcdc;
    letter-spacing: 1px;
}

/* Títulos */
h1, h2, h3 {
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-top: 40px;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
}

/* Seção da Equipe */
.team-section {
    margin-top: 20px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 70px;
}

.team-member {
    text-align: center;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.team-member strong {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    color: #fff;
}

.team-member p {
    font-size: 18px;
    color: #ffffff;
}

/* Seção Sobre Nós */
.section-content {
    display: flex;
    margin: 40px 0;
    font-size: 18px;
    line-height: 1.8;
}

.section-content p {
    margin-bottom: 20px;
    text-align: justify;
}

.section-content ul {
    list-style: none;
    padding-left: 0;
}

.section-content ul li {
    margin-bottom: 15px;
    font-size: 18px;
    padding-left: 25px;
    position: relative;
    line-height: 1.5;
}

.section-content ul li::before {
    content: "✔";
    color: #b8b8b8;
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1.5;
}

/* Seções com borda e espaçamento */
section {
    padding: 20px;
    margin-bottom: 40px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    .team-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .section-content, p {
        font-size: 16px;
    }
}
/* Imagens Responsivas da Equipe */
.team-photo {
    width: 100%;
    height: auto;
    max-width: 150px; /* Limita o tamanho máximo da imagem */
    border-radius: 10%; /* Faz com que a imagem fique redonda */
    margin: 10px 0; /* Espaçamento entre a imagem e o texto */
}

/* Responsividade */
@media (max-width: 768px) {
    .team-photo {
        max-width: 120px; /* Ajusta o tamanho máximo para telas menores */
    }

    .team-member strong {
        font-size: 20px;
    }

    .team-member span {
        font-size: 16px;
    }
}
